@page "/"
@using System.Drawing
@using Blazor.Extensions
@using BlazorCanvas.Core
@using System.Numerics
@using BlazorCanvas.Sandbox.Game

@inject IJSRuntime JsRuntime
@inject SandboxGameFacade SandboxGameFacade


<Assets Source="assets/assets.json" OnLoaded="@OnAssetsLoaded" />

<div id="canvasContainer" style="position: fixed; opacity: 1; background-color: black; width: 100%; height: 100%">
    <BECanvas @ref="_canvas"></BECanvas>
</div>

@code
{
    BECanvasComponent _canvas;
    GameContext _game;

    bool _assetsLoaded = false;
    bool _initialized = false;

    protected void OnAssetsLoaded()
    {
        _assetsLoaded = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!_initialized && _assetsLoaded)
        {
            await InitGame();
            _initialized = true;
        }
    }

    private async ValueTask InitGame()
    {
        var canvasMeta = await JsRuntime.InvokeAsync<CanvasMeta>("initCanvas", DotNetObjectReference.Create(this));

        _canvas.Height = canvasMeta.Height;
        _canvas.Width = canvasMeta.Width;

        _game = new SandboxGame(_canvas, SandboxGameFacade);

        // this will make sure that the viewport is correctly initialized
        await JsRuntime.InvokeAsync<object>("gameWindowResize", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public async ValueTask GameLoop()
    {
        if (null == _game)
            return;
        await _game.Step();

        @* SandboxGameFacade.InputService ??= _game.GetService<InputService>(); *@
    }

    [JSInvokable]
    public void OnResize(int screenWidth, int screenHeight)
    {
        if (null == _game) return;
        _game.Display.Size = new Size(screenWidth, screenHeight);
    }

    [JSInvokable]
    public void OnKeyDown(int keyCode) =>
    SandboxGameFacade.InputService.SetKeyState((Keys)keyCode, ButtonState.States.Down);

    [JSInvokable]
    public void OnKeyUp(int keyCode) =>
    SandboxGameFacade.InputService.SetKeyState((Keys)keyCode, ButtonState.States.Up);

    [JSInvokable]
    public void OnMouseUp(int clickX, int clickY, int whichMouseButton)
    {
        SandboxGameFacade.InputService.SetButtonState(GetMouseButton(whichMouseButton), ButtonState.States.Up);
    }

    [JSInvokable]
    public void OnMouseDown(int clickX, int clickY, int whichMouseButton)
    {
        SandboxGameFacade.InputService.SetButtonState(GetMouseButton(whichMouseButton), ButtonState.States.Down);
    }

    [JSInvokable]
    public void OnLeftClick(int clickX, int clickY)
    {
        SandboxGameFacade.InputService.HandleMouseLeftClick(new Vector2(clickX, clickY));
    }

    [JSInvokable]
    public void OnRightClick(int clickX, int clickY)
    {
        SandboxGameFacade.InputService.HandleMouseRightClick(new Vector2(clickX, clickY));
    }

    private MouseButtons GetMouseButton(int whichMouseButton) => (MouseButtons)Enum.Parse(typeof(MouseButtons),
    (whichMouseButton - 1).ToString());

    public class CanvasMeta
    {
        public int Width { get; set; }
        public int Height { get; set; }
    }
}
